<header class="relative z-10 flex items-center bg-white py-[20px]">
  <div class="container flex flex-wrap items-center justify-between gap-y-3 space-x-3">
    <a href="/">
      <img src="./img/logo.svg" alt="Logo" class="h-[42px] w-[132px] object-contain sm:h-[68px] sm:w-[211px]" />
    </a>
    <nav class="hidden lg:block">
      <ul class="flex items-center space-x-[20px]">
        <li>
          <a href="#about" class="text-typo-dark text-lg transition-colors hover:text-primary">Про нас</a>
        </li>
        <li>•</li>
        <li>
          <a href="#services" class="text-typo-dark text-lg transition-colors hover:text-primary">Послуги</a>
        </li>
        <li>•</li>
        <li>
          <a href="#comments" class="text-typo-dark text-lg transition-colors hover:text-primary">Відгуки</a>
        </li>
        <li>•</li>
        <li>
          <a href="#contacts" class="text-typo-dark text-lg transition-colors hover:text-primary">Контакти</a>
        </li>
      </ul>
    </nav>
    <a
      href="https://t.me/tsc_gov"
      class="inline-flex h-[43px] items-center justify-center rounded-[2px] border border-transparent bg-primary px-[10px] text-sm text-typo transition-colors hover:border-primary hover:bg-white hover:text-primary sm:h-[60px] sm:space-x-2.5 sm:px-[15px] sm:text-lg">
      <span>Зв'язатися з нами</span>
      <svg class="hidden size-6 sm:block">
        <use href="./sprites/sprite.svg#icon-tg"></use>
      </svg>
    </a>
  </div>
</header>
